@use "./variables";

.inquiry {
	background-color: variables.$primary-color;
	width: 100%;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr;
	gap: 24px;
	padding: 56px 40px;
	color: variables.$light-color;
	font-size: 16px;
	font-weight: 600;

	@include variables.for-medium-screen {
		grid-template-columns: 1fr 1fr;
	}
	@include variables.for-large-screen {
		grid-template-columns: 1fr 1fr 1fr;
	}
	@include variables.for-extralarge-screen {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}

	&__search {
		display: flex;
		flex-direction: column;
		gap: 12px;

		input {
			@include variables.input(
				variables.$light-color,
				24px,
				16px,
				14px,
				variables.$primary-color
			);
		}
	}
	&__pax {
		display: flex;
		flex-direction: column;

		gap: 12px;
		input {
			@include variables.input(
				variables.$light-color,
				24px,
				16px,
				14px,
				variables.$primary-color
			);
		}
	}
	&__date {
		display: flex;
		flex-direction: column;
		gap: 12px;
		box-sizing: border-box;
		width: 100%;

		input {
			box-sizing: border-box;
			width: 100%;
			@include variables.input(
				variables.$light-color,
				24px,
				16px,
				14px,
				variables.$primary-color
			);
		}
	}

	button {
		align-self: end;
		white-space: nowrap;
		@include variables.buttonOutlined(
			transparent,
			32px,
			16px,
			16px,
			variables.$light-color,
			variables.$light-color,
			variables.$primary-color
		);
	}
}
