@use "./variables";

.login {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	gap: 16px;
	align-items: center;
	justify-content: center;

	&--heading {
		font-size: 32px;
		color: variables.$primary-dark-color;
		font-weight: bold;
	}
}

.login--inputs {
	display: flex;
	width: 90%;
	flex-direction: column;
	gap: 10px;

	@include variables.for-medium-screen {
		width: 80%;
	}
	@include variables.for-large-screen {
		width: 50%;
	}
}

.input_btn {
	display: flex;
	justify-content: center;
	background-color: variables.$primary-dark-color;
	color: variables.$light-color;
	gap: 8px;
	font-size: 16px;
	cursor: pointer;
	padding: 14px 16px;
	align-items: center;
	border: 1px solid transparent;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	&:hover {
		border: 1px solid variables.$primary-dark-color;
		background-color: variables.$light-color;
		color: variables.$primary-dark-color;
	}
}

.input_default {
	display: flex;
	align-items: center;
	gap: 8px;
	width: 100%;
	padding: 16px;
	background-color: rgba(variables.$primary-dark-color, 0.1);
	border: 1px solid transparent;

	.icon {
		color: variables.$primary-color;
		font-size: 22px;
	}

	input {
		border: none;
		outline: none;
		background: none;
		width: 100%;
		height: 100%;
		color: variables.$primary-color;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type="number"] {
		-moz-appearance: textfield;
	}
}
