@use "./variables";

.container {
	display: flex;
	flex-direction: column;
}

.nav {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	padding: 24px 40px;
	justify-content: space-between;
	position: absolute;
	z-index: 10;

	&__logo {
		width: 30%;
		object-fit: contain;

		@include variables.for-medium-screen {
			width: 25%;
			display: flex;
		}
		@include variables.for-large-screen {
			width: 15%;
			display: flex;
		}
	}
	&__menu {
		display: none;
		gap: 24px;
		font-size: 16px;
		color: variables.$light-color;

		@include variables.for-large-screen {
			display: flex;
		}

		.active {
			color: variables.$primary-color;
			cursor: pointer;
			text-decoration: none;
		}
		.inactive {
			color: variables.$light-color;
			cursor: pointer;
			text-decoration: none;
		}
	}

	&__btns {
		display: flex;
		gap: 16px;
		&--btn-1 {
			@include variables.buttonFilled(
				variables.$light-color,
				20px,
				12px,
				16px,
				variables.$primary-color
			);

			@include variables.for-medium-screen {
				@include variables.buttonFilled(
					variables.$light-color,
					32px,
					16px,
					24px,
					variables.$primary-color
				);
			}
			@include variables.for-large-screen {
				display: none;
			}
		}
		&--btn-2 {
			display: none;

			@include variables.for-medium-screen {
				display: block;
				@include variables.buttonFilled(
					variables.$primary-color,
					32px,
					16px,
					16px,
					variables.$light-color
				);
			}
			@include variables.for-large-screen {
				@include variables.buttonFilled(
					variables.$primary-color,
					32px,
					16px,
					16px,
					variables.$light-color
				);
			}
		}
	}
}
