@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
	font-family: "Open Sans", sans-serif;
	box-sizing: border-box;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
}
